.checkmate-title {
   border: 2px solid white;
   padding: 4px;
   padding-left: 1em;
   padding-right: 1em;
   color: white;
   font-size: 32px;
   font-family: 'Courier New', Courier, monospace;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   transition: 0.3s ease;
}

.checkmate-diagnose {
   border: 2px solid white;
   padding: 4px;
   padding-left: 32px;
   padding-right: 1em;
   color: white;

   font-size: 12pt;
   font-family: 'Lucida Console', 'Consolas', 'Courier New', Courier, Dengxian, monospace, sans-serif;

   position: fixed;
   top: calc(20px + 24px + 2em + 4px);
   left: 20px;
   right: 20px;
   height: 10px;

   transition: 0.2s ease;

   text-wrap: wrap;
   word-break: break-all;
}

.checkmate-diagnose a:hover {
   text-decoration: underline;
   cursor: pointer;
}
