.skirmish-content {
   display: flex;
   flex-direction: row;
   column-gap: 1em;
}

.skirmish-start-button-area {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.skirmish-settings {
   display: flex;
   flex-direction: column;
   row-gap: 0.5em;
   flex: 1;
}

.skirmish-map-preview {
   border: 1px solid var(--theme-color);
   width: calc(65vh - 64px);
   height: calc(65vh - 64px);

   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
}

.chessboard-square {
   background-color: transparent;
}

.chessboard-square.light-square {
   background-color: var(--theme-color-one-third-transparent);
}

.chesspiece {
   display: inline-block;
   width: 100%;
   height: 100%;
   background-size: contain;
}

.skirmish-chess960-selection {
   display: flex;
   flex-direction: row;
   column-gap: 1em;
   align-items: center;
}

.skirmish-chess960-selection > input {
   width: 12em;
   background-color: transparent;
   border: 1px solid var(--theme-color);
   color: var(--theme-color);
   padding: 4px;
   font-family: Dengxian, sans-serif;
   font-size: 14pt;
}

.skirmish-chess960-selection > input:focus {
   outline: none;
}

.skirmish-chess960-selection > input::placeholder {
   color: var(--theme-color-semi-transparent);
}
