.start-menu-button-list {
   position: fixed;
   left: -450px;
   top: 50%;
   transform: translateY(-50%);

   transition: 0.25s ease;

   display: flex;
   flex-direction: column;
   row-gap: 8px;
}

.start-menu-game-title {
   color: greenyellow;
   font-size: 32pt;
   padding: 4px;

   font-family: 'Courier New', Courier, monospace;
}

.start-menu-split {
   border: 1px solid greenyellow;
   width: 400px;
}

.start-menu-buttons {
   color: greenyellow;
   transition: 0.125s linear;

   display: flex;
   flex-direction: column;
   row-gap: 2px;
   height: 0px;
}

.start-menu-buttons > div {
   cursor: pointer;
   font-size: 14pt;
   font-family: dengxian, sans-serif;
}

.start-menu-buttons > div:hover {
   color: black;
   background-color: greenyellow;

   transition: 0.05s ease;
}

.start-menu-buttons > div::before {
   content: '[';
   font-family: 'Courier New', 'Courier', monospace;
}

.start-menu-buttons > div::after {
   content: ']';
   font-family: 'Courier New', 'Courier', monospace;
}
