* {
   scrollbar-width: thin;
   scrollbar-color: var(--theme-color) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 8px;
}

*::-webkit-scrollbar-track {
   background: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--theme-color);
   border-radius: 0px;
   border: 0px none transparent;
}

.error-reporter {
   color: orangered;
   font-family: Dengxian, sans-serif;
   font-size: 14pt;
}

table, th, td {
   border-collapse: collapse;
}

th, td {
   padding: 2px 4px;
}
