.close-button {
   border: 1px solid var(--theme-color);
   text-align: center;
   color: var(--theme-color);
}

.close-button:hover {
   border: 1px solid yellow;
   background-color: yellow;
   color: black;

   transition: 0.125s ease;
   cursor: pointer;
}