.system-prompt {
   position: fixed;
   left: 2px;
   top: 2px;

   user-select: none;
   font-family: Dengxian, sans-serif;
   font-size: 14pt;
}

.system-prompt .system {
   color: var(--theme-color);
}

.system-prompt .prompt {
   color: var(--theme-color-prompt);
}