.system-prompt {
   position: absolute;
   left: 0.5em;
   top: 0.5em;

   user-select: none;
   font-family: Dengxian, sans-serif;
   font-size: 14pt;
}

.system-prompt .system {
   color: var(--theme-color);
}

.system-prompt .prompt {
   color: var(--theme-color-prompt);
}