.window {
   position: fixed;
   width: 75%;

   left: 50%;
   top: 50%;

   transform: translateX(-200%) translateY(-50%);
   transition: 0.5s ease;
}

.window > hr {
   border-color: var(--theme-color);
}

.window-title-bar {
   color: var(--theme-color);
   font-size: 32px;
   font-family: Dengxian, sans-serif;

   display: flex;
   justify-content: space-between;
}

.window-content {
   padding: 4px;
   height: 0;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: 0.5s ease;

   color: var(--theme-color);
   font-family: Dengxian, sans-serif;
   font-size: 14pt;
}
